@charset "UTF-8";


* {
	font-family: "Inter";
}

.card-note {
	width: 305px;
	height: 151px;
	left: 161px;
	top: 109px;
	background: #F9F9F9;
	border: 1px solid rgba(0, 0, 0, 0.03);
	box-sizing: border-box;
	border-radius: 5px;
	left: 161px;
	top: 109px;
	background: #F9F9F9;
	border: 1px solid rgba(0, 0, 0, 0.03);
	box-sizing: border-box;
	padding: 8px;
	box-sizing: border-box;
	user-select: none;
}

.card-note .ui-button {
	background: transparent !important;
	border: none;
	outline: none;
	color: black;
	box-shadow: none;
	font-weight: 900;
}

.ui-menu {
	background: #f5f5f5;
	border: 1.3px solid rgba(0, 0, 0, 0.04);
	box-shadow: none;
}

.ui-menuitem {
	background: transparent;
}

.ui-menuitem {
	background: transparent;
}

.ui-menuitem.ui-state-hover {
	background: #F0F0F0;
	box-shadow: none;
}

.ui-menuitem-text {
	margin-left: 10px;
	font-size: 15px;
}

.card-note-header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card-note-title {
	font-size: 16px;
	font-weight: 600;
}

.card-note-description {
	font-size: 14px;
	font-weight: 400;
}
